{% extends "base.html" %}
{% load static %}
{% block content %}
	<body>
		 
		<!--side menu-->
		<button id="open_side_menu" class="constantly icon_wrap_size_2 circle tr_all color_black tr_all trf_none">
			<i class="icon-menu"></i>
		</button>
		
		<!--layout-->
		<div class="wide_layout bg_light">
			<!--layer slider-->
			<section id="layerslider" style="width:100%;height:620px;">
				<div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
					<h1 class="ls-l color_light fw_light" style="left:145px;top:35px;">We Are Proud Of What We Create</h1>
					<p class="ls-l color_light" style="top:115px; left:292px;">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar.</p>
			        <img src="images/layer_slide_1.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;delayin:200;delayout:200;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:244px;top:150px;z-index:3;" alt="">
			        <img src="images/layer_slide_2.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:-15px;top:250px;z-index:1;" alt="">
			        <img src="images/layer_slide_3.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;delayin:400;" style="left:642px;top:250px;z-index:1;" alt="">
			    </div>
			    <div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
					<h1 class="ls-l color_light fw_light" style="left:145px;top:35px;">We Are Proud Of What We Create</h1>
					<p class="ls-l color_light" style="top:115px; left:292px;">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar.</p>
			        <img src="images/layer_slide_4.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;delayin:200;delayout:200;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:244px;top:150px;z-index:3;" alt="">
			        <img src="images/layer_slide_5.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:-15px;top:250px;z-index:1;" alt="">
			        <img src="images/layer_slide_6.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;delayin:400;" style="left:642px;top:250px;z-index:1;" alt="">
			    </div>
			    <div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
					<h1 class="ls-l color_light fw_light" style="left:145px;top:35px;">We Are Proud Of What We Create</h1>
					<p class="ls-l color_light" style="top:115px; left:292px;">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar.</p>
			        <img src="images/layer_slide_7.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;delayin:200;delayout:200;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:244px;top:150px;z-index:3;" alt="">
			        <img src="images/layer_slide_8.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;" style="left:-15px;top:250px;z-index:1;" alt="">
			        <img src="images/layer_slide_9.png" class="ls-l" data-ls="offsetxin:0;offsetyin:0;offsetxout:0;offsetyout:0;rotatexin:90;rotatexout:90;transformoriginin :50% 100% 0;transformoriginout :50% 100% 0;delayin:400;" style="left:642px;top:250px;z-index:1;" alt="">
			    </div>
			</section>
			<!--content-->
			<section class="section_offset bg_light_2">
				<div class="container t_align_c">
					<h3 class="color_dark fw_light m_bottom_15 heading_1 animate_ftr tr_all_medium">Welcome! We’re a cutting design studio specializing in development<br>of websites, applications and corporate designs</h3>
					<p class="heading_2 animate_ftr tr_all_medium">We are a small full-service studio and have a big experience in the whole development cycle - from design to delivery.</p>
				</div>
			</section>
			<section class="section_offset">
				<div class="container t_align_c">
					<h3 class="color_dark fw_light m_bottom_15  heading_3 animate_ftr tr_all_medium">Our Portfolio</h3>
					<p class="m_bottom_35  heading_4 animate_ftr tr_all_medium">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>
					<section class="t_align_c">
						<!--sort-->
						<ul class="tabs_nav sort type_2 fs_medium hr_list d_inline_b d_xs_block m_bottom_15">
							<li class="f_xs_none active"><a href="#" data-filter="*" class="color_dark d_block n_sc_hover tr_all_long animate_ftr">All</a></li>
							<li class="f_xs_none"><a href="#" data-filter=".three_dimensional" class="color_dark d_block n_sc_hover tr_all_long animate_ftr">3D</a></li>
							<li class="f_xs_none"><a href="#" data-filter=".illustration" class="color_dark d_block n_sc_hover tr_all_long animate_ftr">Illustration</a></li>
							<li class="f_xs_none"><a href="#" data-filter=".photography" class="color_dark d_block n_sc_hover tr_all_long animate_ftr">Photography</a></li>
							<li class="f_xs_none"><a href="#" data-filter=".web" class="color_dark d_block n_sc_hover tr_all_long animate_ftr">Web</a></li>
						</ul>
					</section>
					<section class="portfolio_isotope_container home three_columns without_text m_bottom_15">
						<figure class="portfolio_item t_xs_align_c type_2 three_dimensional">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_46.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/home_img_5.jpg" data-group="portfolio" data-title="Title 1" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Lorem</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">21</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 web">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_47.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="http://www.youtube.com/watch?v=SZEflIVnhH8" data-group="portfolio" data-title="Title 2" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-play"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Contact</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">17</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 photography">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_48.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/home_img_7.jpg" data-group="portfolio" data-title="Title 3" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Ipsum</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">32</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 illustration">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_49.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="http://vimeo.com/61099540" data-group="portfolio" data-title="Title 4" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-play"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Set amet</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">99</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 three_dimensional">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_50.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/portfolio_img_50.jpg" data-group="portfolio" data-title="Title 5" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Contact</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">17</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 web">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_51.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/portfolio_img_1.jpg" data-group="portfolio" data-title="Title 6" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Lorem</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">24</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 three_dimensional">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_52.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/portfolio_img_52.jpg" data-group="portfolio" data-title="Title 7" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Ipsum</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">87</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 web">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_53.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/home_img_8.jpg" data-group="portfolio" data-title="Title 8" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Set amet</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">17</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
						<figure class="portfolio_item t_xs_align_c type_2 photography">
							<!--image-->
							<div class="popup_wrap d_xs_inline_b d_mxs_block tr_all_long animate_ftb relative r_corners wrapper">
								<img src="images/portfolio_img_54.jpg" alt="" class="tr_all">
								<div class="project_description vc_child t_align_c tr_all"><div class="d_inline_m">
									<div class="d_inline_b clearfix">
										<a href="images/home_img_9.jpg" data-group="portfolio" data-title="Title 9" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left m_right_10">
											<i class="icon-plus"></i>
										</a>
										<a href="#" class="icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-link"></i>
										</a>
									</div>
								</div></div>
								<div class="project_description_up bg_light_3 tr_all">
									<div class="d_table w_full">
										<div class="col-lg-9 col-md-8 col-sm-7 col-xs-8 d_table_cell v_align_m f_none t_align_l">
											<h4 class="m_bottom_5"><a href="#" class="color_dark d_block wrapper tr_all d_inline_b">Contact</a></h4>
											<div class="color_grey">
												<a href="#" class="color_grey d_inline_b fs_medium"><i>3D</i></a>,
												<a href="#" class="color_grey d_inline_b fs_medium"><i>Illustration</i></a>
											</div>
										</div>
										<div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 d_table_cell v_align_m f_none t_align_r">
											<a href="#" class="like_project d_inline_m color_red_hover tr_all"><i class="icon-heart-empty-1 m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">17</i></a>
										</div>
									</div>
								</div>
							</div>
						</figure>
					</section>
					<div class="t_align_c loadbutton animate_ftr tr_all_long">
						<button id="load_more" class="button_type_3 tt_uppercase r_corners tr_all fs_medium color_dark color_blue_hover">Load More</button>
					</div>
				</div>
			</section>
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>
		
	</body>
{% endblock content %}