{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
		<!--layout-->
		<div class="wide_layout bg_light">
			<!--page title-->
			<section class="page_title type_3 translucent_bg_orange image_bg_16 image_fixed t_align_c relative wrapper">
				<div class="container">
					<h1 class="color_light tt_uppercase m_bottom_5 slider_title_2">Welcome to illusion</h1>
					<h3 class="m_bottom_35 color_grey_light_3 fw_light">This is a premium template with awesome features</h3>
					<div class="d_inline_b tr_all_medium checkout_video">
						<a href="http://vimeo.com/61099540" data-group="video" class="jackbox video_button t_align_c bg_color_purple animation_fill type_2 color_light n_sc_hover d_inline_b m_bottom_5 circle tr_all">
							<i class="icon-play tr_inherit"></i>
						</a>
						<p class="color_grey_light_3 tt_uppercase color_purple fs_medium tr_all">Watch Video In Popup Window</p>
					</div>
				</div>
			</section>
			<!--content-->
			<section class="section_offset">
				<div class="container t_align_c">
					<h3 class="color_dark fw_light m_bottom_15" data-appear-animation="bounceInLeft">Key Features</h3>
					<p class="m_bottom_35" data-appear-animation="bounceInLeft" data-appear-animation-delay="150">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. </p>
					<div class="row t_align_c">
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
							<figure data-appear-animation="fadeInUp">
								<div class="icon_wrap_size_6 type_2 circle color_blue d_inline_m animation_fill relative m_bottom_20">
									<i class="icon-thumbs-up tr_all"></i>
								</div>
								<figcaption>
									<h5 class="color_dark m_bottom_15">Moder &amp; Catchy Design</h5>
									<p class="m_bottom_23">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. </p>
									<a href="#" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all d_inline_b">Read More</a>
								</figcaption>
							</figure>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
							<figure data-appear-animation="fadeInUp" data-appear-animation-delay="200">
								<div class="icon_wrap_size_6 type_2 circle color_pink d_inline_m animation_fill relative m_bottom_20">
									<i class="icon-mobile tr_all"></i>
								</div>
								<figcaption>
									<h5 class="color_dark m_bottom_15">Responsive &amp; Retina-Ready</h5>
									<p class="m_bottom_23">Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Etiam cursus leo vel metus.</p>
									<a href="#" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">Read More</a>
								</figcaption>
							</figure>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<figure data-appear-animation="fadeInUp" data-appear-animation-delay="400">
								<div class="icon_wrap_size_6 type_2 circle color_purple d_inline_m animation_fill relative m_bottom_20">
									<i class="icon-infinity tr_all"></i>
								</div>
								<figcaption>
									<h5 class="color_dark m_bottom_15">Tons of Great Features</h5>
									<p class="m_bottom_23">Nulla facilisi. Aenean nec eros. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt.</p>
									<a href="#" class="button_type_2 color_dark r_corners fs_medium color_purple_hover tr_all d_inline_b">Read More</a>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</section>
			<section class="section_offset bg_light_2 p_bottom_0">
				<div class="container t_align_c">
					<h3 class="color_dark fw_light m_bottom_15" data-appear-animation="bounceInLeft">We Are Proud Of What We Create</h3>
					<p class="m_bottom_35" data-appear-animation="bounceInLeft" data-appear-animation-delay="150">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. </p>
					<div class="relative screens">
						<img class="layer_2" src="images/layer_slide_2.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
						<img class="layer_1" src="images/layer_slide_1.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="800">
						<img class="layer_3" src="images/layer_slide_3.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
					</div>
				</div>
			</section>
			<section class="section_offset p_bottom_0">
				<div class="container responsive_animate">
					<div class="row">
						<div class="col-lg-7 col-md-7 m_xs_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
							<div class="relative mobile">
								<img class="layer_1" src="images/layer_imac.png" alt="">
								<img class="layer_2" src="images/layer_iphone.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-md-5" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
							<h3 class="color_dark fw_light m_bottom_40 m_top_35 m_xs_top_0">Extremely Responsive</h3>
							<p class="fs_large m_bottom_12 fw_light">Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum. </p>
							<p class="fs_large fw_light m_bottom_45">Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel </p>
							<a href="#" class="color_pink fs_medium button_type_3 tr_all r_corners transparent tt_uppercase d_inline_b m_sm_bottom_60">View Details</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section_offset p_sm_top_0 bg_light_2">
				<div class="container mobile_friendly">
					<div class="row">
						<div class="col-lg-3 col-md-4" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
							<h3 class="color_dark fw_light m_bottom_40 m_xs_top_0">Mobile-Friendly</h3>
							<p class="fs_large m_bottom_45 fw_light">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus. </p>
							<ul class="hr_list">
								<li class="m_right_20"><img src="images/android.png" alt=""></li>
								<li class="m_right_20"><img src="images/ios.png" alt=""></li>
								<li><img src="images/windows.png" alt=""></li>
							</ul>
						</div>
						<div class="col-lg-7 col-md-7" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
							<div class="relative tablet">
								<img class="layer_1" src="images/layer_tablet.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section_offset image_bg_7" id="how_it_works">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 m_sm_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
							<div class="iframe_video_wrap">
								<iframe src="http://player.vimeo.com/video/64473966?title=0&amp;byline=0&amp;portrait=0&amp;color=dedede" ></iframe>
							</div>
						</div>
						<div class="col-lg-5 col-lg-offset-1 col-md-6" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
							<h3 class="color_light fw_light m_bottom_40 m_xs_top_0">How It Works</h3>
							<p class="fs_large fw_light color_light m_bottom_25">Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_15">
									<ul class="color_light">
										<li class="m_bottom_8"><i class="icon-feather m_right_15 fs_large"></i>Aliquam erat volutpat</li>
										<li class="m_bottom_8"><i class="icon-cog m_right_15 fs_large"></i>Donec sit amet eros</li>
										<li class="m_bottom_8"><i class="icon-chat m_right_15 fs_large"></i>Lorem ipsum dolor sit </li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_15">
									<ul class="color_light">
										<li class="m_bottom_8"><i class="icon-camera m_right_15 fs_large"></i>Aliquam erat volutpat</li>
										<li class="m_bottom_8"><i class="icon-chart-line m_right_15 fs_large"></i>Donec sit amet eros</li>
										<li class="m_bottom_8"><i class="icon-lifebuoy m_right_15 fs_large"></i>Lorem ipsum dolor sit </li>
									</ul>
								</div>
							</div>
							<a href="#" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">Get Started</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section_offset relative bg_light_2">
				<div class="container">
					<h3 class="color_dark fw_light m_bottom_15 t_align_c" data-appear-animation="bounceInLeft">Product images</h3>
					<p class="m_bottom_35 t_align_c" data-appear-animation="bounceInLeft" data-appear-animation-delay="200">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>
					<!--projects carousel-->
					<div class="row">
						<div class="owl-carousel" data-plugin-options='{"singleItem":false,"itemsCustom" : [[992,3],[768,2],[100,1]]}' data-nav="fp_nav_">
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12" data-appear-animation="fadeInUp" data-appear-animation-delay="800">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_14.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/portfolio_img_1.jpg" data-group="featured_projects" data-title="Nam elit agna, endrerit sit" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_15.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/home_img_15.jpg" data-group="featured_projects" data-title="Nam elit agna, endrerit sit" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_16.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/home_img_16.jpg" data-group="featured_projects" data-title="Praesent justo dolor, loborti quis" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_14.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/portfolio_img_1.jpg" data-group="featured_projects" data-title="Nam elit agna, endrerit sit" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_15.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/home_img_15.jpg" data-group="featured_projects" data-title="Nam elit agna, endrerit sit" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
							<!--project-->
							<figure class="t_xs_align_c col-lg-12 col-md-12 col-sm-12">
								<!--image container-->
								<div class="popup_wrap relative r_corners wrapper m_bottom_20 m_xs_bottom_0 d_xs_inline_b d_mxs_block">
									<img src="images/home_img_16.jpg" alt="">
									<div class="popup_buttons tr_all_long">
										<a href="images/home_img_16.jpg" data-group="featured_projects" data-title="Praesent justo dolor, loborti quis" class="jackbox icon_wrap_size_3 color_light n_sc_hover d_block circle f_left">
											<i class="icon-plus"></i>
										</a>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
				<!--carousel nav-->
				<button class="icon_wrap_size_4 circle color_grey_light tr_all color_blue_hover fp_nav_prev nav_type_2 d_md_none" data-appear-animation="fadeIn">
					<i class="icon-left-open-big"></i>
				</button>
				<button class="icon_wrap_size_4 circle color_grey_light tr_all color_blue_hover fp_nav_next nav_type_2 d_md_none" data-appear-animation="fadeIn">
					<i class="icon-right-open-big"></i>
				</button>
			</section>
			<section class="section_offset">
				<div class="container customers_say">
					<h3 class="color_dark fw_light m_bottom_15 t_align_c" data-appear-animation="bounceInLeft" >What Our Customers Say</h3>
					<p class="m_bottom_35 t_align_c" data-appear-animation="bounceInLeft" data-appear-animation-delay="200">Donec eget tellus non erat lacinia fermentum. </p>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="800">
							<!--quote-->
							<blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
								<p class="m_bottom_15"><i>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</i></p>
								<p><i>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et<br> urna.</i></p>
							</blockquote>
							<div>
								<!--author photo-->
								<div class="d_inline_m circle wrapper m_right_10">
									<img src="images/testimonial_img_1.jpg" alt="">
								</div>
								<!--author name-->
								<div class="d_inline_m">
									<b class="fs_large d_block color_dark">John <br class="d_sm_block d_xs_none d_none">Doe</b>
									<p class="fs_medium d_sm_none d_xs_block">Co-founder<span class="d_md_none">, Company Name</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
							<!--quote-->
							<blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
								<p class="m_bottom_15"><i>Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</i></p>
								<p><i>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis.</i></p>
							</blockquote>
							<div>
								<!--author photo-->
								<div class="d_inline_m circle wrapper m_right_10">
									<img src="images/testimonial_img_2.jpg" alt="">
								</div>
								<!--author name-->
								<div class="d_inline_m">
									<b class="fs_large d_block color_dark">Anna <br class="d_sm_block d_xs_none d_none">Smith</b>
									<p class="fs_medium d_sm_none d_xs_block">Co-founder<span class="d_md_none">, Company Name</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
							<!--quote-->
							<blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
								<p class="m_bottom_15"><i>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </i></p>
								<p><i>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. </i></p>
							</blockquote>
							<div>
								<!--author photo-->
								<div class="d_inline_m circle wrapper m_right_10">
									<img src="images/testimonial_img_3.jpg" alt="">
								</div>
								<!--author name-->
								<div class="d_inline_m">
									<b class="fs_large d_block color_dark">Amanda <br class="d_sm_block d_xs_none d_none">Johnson</b>
									<p class="fs_medium d_sm_none d_xs_block">Co-founder<span class="d_md_none">, Company Name</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section_offset_2 image_bg_3" id="pricing_tables_container">
				<div class="container">
					<h3 class="color_light fw_light m_bottom_15 t_align_c" data-appear-animation="bounceInUp">Choose Your Plan</h3>
					<p class="m_bottom_35 t_align_c color_light" data-appear-animation="bounceInUp" data-appear-animation-delay="200">Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum ele<br>mentum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis.</p>
					<!--pricing tables-->
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30" data-appear-animation="bounceInUp" data-appear-animation-delay="800">
							<div class="p_table color_light border_light r_corners_2 bg_color_yellow_hover t_align_c">
								<!--title-->
								<h5 class="color_yellow m_bottom_15 pt_title">Basic</h5>
								<!--icon-->
								<div class="pt_icon bg_color_yellow r_corners_2 db_centered vc_child m_bottom_10"><i class="icon-flag d_inline_m"></i></div>
								<!--price-->
								<div class="m_bottom_12">
									<span class="v_align_t price_icon d_inline_b">$</span><span class="pt_price v_align_b">9</span><span class="pt_title v_align_b fw_light d_inline_b pt_time d_sm_none d_xs_inline_b">/ mo</span>
								</div>
								<hr class="divider_type_5 m_bottom_23">
								<!--services list-->
								<ul class="color_grey_light_3 m_bottom_25">
									<li class="m_bottom_12">Ut tellus dolor</li>
									<li class="m_bottom_12">Dapibus eget</li>
									<li class="m_bottom_12">Elementum vel cursus</li>
									<li class="m_bottom_12">Eleifend elit aenean</li>
									<li class="m_bottom_12">Actor wisi et urna</li>
								</ul>
								<a href="#" class="button_type_3 tt_uppercase color_yellow fs_medium transparent r_corners d_inline_b tr_all">Sign Up</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30" data-appear-animation="bounceInUp" data-appear-animation-delay="1000">
							<div class="p_table  color_light border_light r_corners_2 bg_color_blue_hover t_align_c">
								<!--title-->
								<h5 class="color_blue m_bottom_15 pt_title">Pro</h5>
								<!--icon-->
								<div class="pt_icon bg_color_blue r_corners_2 db_centered vc_child m_bottom_10"><i class="icon-paper-plane d_inline_m"></i></div>
								<!--price-->
								<div class="m_bottom_12">
									<span class="v_align_t price_icon d_inline_b">$</span><span class="pt_price v_align_b">19</span><span class="pt_title v_align_b fw_light d_inline_b pt_time d_sm_none d_xs_inline_b">/ mo</span>
								</div>
								<hr class="divider_type_5 m_bottom_23">
								<!--services list-->
								<ul class="color_grey_light_3 m_bottom_25">
									<li class="m_bottom_12">Ut tellus dolor</li>
									<li class="m_bottom_12">Dapibus eget</li>
									<li class="m_bottom_12">Elementum vel cursus</li>
									<li class="m_bottom_12">Eleifend elit aenean</li>
									<li class="m_bottom_12">Actor wisi et urna</li>
								</ul>
								<a href="#" class="button_type_3 tt_uppercase color_blue fs_medium transparent r_corners d_inline_b tr_all">Sign Up</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30" data-appear-animation="bounceInUp" data-appear-animation-delay="1200">
							<div class="p_table color_light r_corners_2 border_light bg_color_pink_hover t_align_c relative">
								<!--most popular-->
								<span class="popular"><img src="images/popular.png" alt=""></span>
								<!--title-->
								<h5 class="color_pink m_bottom_15 pt_title">Advanced</h5>
								<!--icon-->
								<div class="pt_icon bg_color_pink r_corners_2 db_centered vc_child m_bottom_10"><i class="icon-rocket d_inline_m"></i></div>
								<!--price-->
								<div class="m_bottom_12">
									<span class="v_align_t price_icon d_inline_b">$</span><span class="pt_price v_align_b">29</span><span class="pt_title v_align_b fw_light d_inline_b pt_time d_sm_none d_xs_inline_b">/ mo</span>
								</div>
								<hr class="divider_type_5 m_bottom_23">
								<!--services list-->
								<ul class="color_grey_light_3 m_bottom_25">
									<li class="m_bottom_12">Ut tellus dolor</li>
									<li class="m_bottom_12">Dapibus eget</li>
									<li class="m_bottom_12">Elementum vel cursus</li>
									<li class="m_bottom_12">Eleifend elit aenean</li>
									<li class="m_bottom_12">Actor wisi et urna</li>
								</ul>
								<a href="#" class="button_type_3 tt_uppercase color_pink fs_medium transparent r_corners d_inline_b tr_all">Sign Up</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3" data-appear-animation="bounceInUp" data-appear-animation-delay="1400">
							<div class="p_table color_light border_light r_corners_2 bg_color_purple_hover t_align_c">
								<!--title-->
								<h5 class="color_purple m_bottom_15 pt_title">Business</h5>
								<!--icon-->
								<div class="pt_icon bg_color_purple r_corners_2 db_centered vc_child m_bottom_10"><i class="icon-briefcase d_inline_m"></i></div>
								<!--price-->
								<div class="m_bottom_12">
									<span class="v_align_t price_icon d_inline_b">$</span><span class="pt_price v_align_b">39</span><span class="pt_title v_align_b fw_light d_inline_b pt_time d_sm_none d_xs_inline_b">/ mo</span>
								</div>
								<hr class="divider_type_5 m_bottom_23">
								<!--services list-->
								<ul class="color_grey_light_3 m_bottom_25">
									<li class="m_bottom_12">Ut tellus dolor</li>
									<li class="m_bottom_12">Dapibus eget</li>
									<li class="m_bottom_12">Elementum vel cursus</li>
									<li class="m_bottom_12">Eleifend elit aenean</li>
									<li class="m_bottom_12">Actor wisi et urna</li>
								</ul>
								<a href="#" class="button_type_3 tt_uppercase color_purple fs_medium transparent r_corners d_inline_b tr_all">Sign Up</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--banner-->
			<section class="section_offset bg_light_2">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-9 col-sm-8 col-lg-offset-1" data-appear-animation="fadeInUp">
							<h3 class="color_dark fw_light m_bottom_15">Try The <span class="color_green">30 Day Free Trial</span> With All Features</h3>
							<p>Your 30-day money back guarantee starts after your 30-day free trial.</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
							<a href="#" id="get_started" class="button_type_4 r_corners d_inline_b color_green tt_uppercase fs_large m_top_5 m_sm_top_25 tr_all">Get Started</a>
						</div>
					</div>
				</div>
			</section>
			<hr class="divider_type_2">
			<!--footer-->
			<footer role="contentinfo" class="bg_light_3 p_top_0 p_bottom_0">
				<!--bottom part-->
				<section class="footer_bottom_part t_align_c color_grey bg_light_4 fw_light">
					<p>&copy; 2014 illusion. All Rights Reserved.</p>
				</section>
			</footer>
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>
		<!--Libs-->


		 
		 
		
	
	</body>
{% endblock content %}