{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
		
		<!--layout-->
		<div class="wide_layout bg_light">
			
			<!--page title-->
			<section class="page_title translucent_bg_green t_align_c relative wrapper">
				<div class="container">
					<h1 class="color_light fw_light m_bottom_5">Sitemap</h1>
					<!--breadcrumbs-->
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_grey_light_3 d_inline_m m_right_10">Home</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_grey_light_3 d_inline_m m_right_10">Pages</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li><a class="color_grey_light_3 d_inline_m">Sitemap</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<div class="section_offset">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
							<h5 class="color_dark fw_light m_bottom_20">Home</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light">
								<li class="m_bottom_12">
									<a href="index.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Layouts
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="index.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Business
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_agency.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Agency
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_portfolio.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Portfolio
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_landing.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Landing Page
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_magazine.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Magazine
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="shop.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Shop
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="index.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Sliders
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="index.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Revolution
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_magazine.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Flex
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="shop.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												iosslider
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_portfolio.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Layer
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_video_slider.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Video
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_boxed_static_video.html" class="color_dark d_inline_b m_bottom_12">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Static content
											</a>
											<!--sitemap (third level) -->
											<ul class="vr_list_type_4 fw_light">
												<li class="m_bottom_12">
													<a href="index_text_and_form.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Text &amp; form
													</a>
												</li>
												<li class="m_bottom_12">
													<a href="index_other_head_static_content.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Event countdown
													</a>
												</li>
												<li class="m_bottom_12">
													<a href="index_video_background.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Video background
													</a>
												</li>
												<li class="m_bottom_12">
													<a href="index_video_in_popup.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Video in popup window
													</a>
												</li>
												<li class="m_bottom_12">
													<a href="index_static_image.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Static image
													</a>
												</li>
												<li class="m_bottom_12">
													<a href="index_boxed_static_video.html" class="color_dark d_inline_b">
														<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
															<i class="icon-angle-right"></i>
														</span>
														Static video
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="index.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Headers
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="index.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 1
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_agency.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 2
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_portfolio.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 3
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_landing.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 4
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_magazine.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 5
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="shop.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Header 6
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="index.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Footers
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="index.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 1
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_agency.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 2
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_portfolio.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 3
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_landing.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 4
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="index_magazine.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 5
											</a>
										</li>
										<li>
											<a href="shop.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Footer 6
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
							<h5 class="color_dark fw_light m_bottom_20">Pages</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light">
								<li class="m_bottom_12">
									<a href="pages_about.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										About us
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_services.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Services
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_team.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Team
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_process.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Process
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_careers.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Careers
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_faq.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										FAQ
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="index_landing.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Landing page
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_404.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										404 page
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_coming_soon.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Coming soon page
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_sitemap.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Sitemap
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_full_width.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Full Width text page
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_right_sidebar.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Text page with right sidebar
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_left_sidebar.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Text page with left sidebar
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="pages_contact.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Contact Us
									</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
							<h5 class="color_dark fw_light m_bottom_20">Portfolio</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light">
								<li class="m_bottom_12">
									<a href="portfolio_classic_1_column.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Classic
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="portfolio_classic_1_column.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												1 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_classic_2_column.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_classic_2_columns_rsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_classic_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_classic_3_columns_lsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_classic_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="portfolio_sortable_t_2_columns.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Sortable grid with text
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="portfolio_sortable_t_2_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_t_2_columns_rsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 columns with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_t_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_t_3_columns_lsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_t_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="portfolio_sortable_wt_2_columns.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Sortable grid without text
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="portfolio_sortable_wt_2_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_wt_2_columns_rsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_wt_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_wt_3_columns_lsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_sortable_wt_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="portfolio_masonry_2_columns.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Sortable masonry
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="portfolio_masonry_2_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_masonry_2_columns_rsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_masonry_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_masonry_3_columns_lsidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_masonry_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Single project pages
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="portfolio_single_side_image_list.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with side image list
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_single_full_width_image_list.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with full width image list
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_single_side_image_slider.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with side image slider
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_single_full_width_image_slider.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with full width image slider
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_single_extended_image_slider.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with extended image slider
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="portfolio_single_side_video_list.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with side video list
											</a>
										</li>
										<li>
											<a href="portfolio_single_full_width_video.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Project with full width video list
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<h5 class="color_dark fw_light m_bottom_20">Blog</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light m_bottom_45 m_xs_bottom_30">
								<li class="m_bottom_12">
									<a href="blog_classic_1_column.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Classic
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="blog_classic_1_column.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												1 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_classic_1_column_right_sidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												1 column with right sidebar
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="blog_grid_2_columns.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Grid
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="blog_grid_2_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_grid_2_columns_left_sidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_grid_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_grid_3_columns_right_sidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_grid_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="blog_masonry_2_columns.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Masonry
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="blog_masonry_2_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_masonry_2_columns_right_sidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												2 column with right sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_masonry_3_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_masonry_3_columns_left_sidebar.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												3 columns with left sidebar
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_masonry_4_columns.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												4 columns
											</a>
										</li>
									</ul>
								</li>
								<li class="m_bottom_12">
									<a href="blog_single_full_width.html" class="color_dark d_inline_b m_bottom_12">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Single blog post
									</a>
									<!--sitemap (second level) -->
									<ul class="vr_list_type_4 fw_light">
										<li class="m_bottom_12">
											<a href="blog_single_full_width.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Image post
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_image_slideshow_post.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Image slideshow post
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_video_post.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Video post 
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_audio_post.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Audio post
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_blockquote_post.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Blockquote post
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_link_post.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Link post 
											</a>
										</li>
										<li class="m_bottom_12">
											<a href="blog_single_full_width.html" class="color_dark d_inline_b">
												<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
													<i class="icon-angle-right"></i>
												</span>
												Full Width Post
											</a>
										</li>
									</ul>
								</li>
							</ul>
							<h5 class="color_dark fw_light m_bottom_20">Shortcodes</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light m_bottom_45 m_xs_bottom_30">
								<li class="m_bottom_12">
									<a href="shortcodes_elements.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Elements
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shortcodes_typography.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Typography
									</a>
								</li>
								<li>
									<a href="shortcodes_columns.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Columns
									</a>
								</li>
							</ul>
							<h5 class="color_dark fw_light m_bottom_20">Shop</h5>
							<ul class="sitemap_list vr_list_type_4 fw_light">
								<li class="m_bottom_12">
									<a href="shop.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Front page
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_category_v1.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Category page v1
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_category_v2.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Category page v2
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_product_page_v1.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Product page v1
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_product_page_v2.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Product page v2
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_cart.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Shopping cart &amp; Checkout
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_wishlist.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Wishlist 
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_compare_products.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Compare products
									</a>
								</li>
								<li class="m_bottom_12">
									<a href="shop_order_list.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Orders list 
									</a>
								</li>
								<li>
									<a href="shop_order_information.html" class="color_dark d_inline_b">
										<span class="icon_wrap_size_0 circle color_grey_light_5 d_block tr_inherit f_left">
											<i class="icon-angle-right"></i>
										</span>
										Order Information
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>

		
	</body>
{% endblock content %}