{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
	
		<!--layout-->
		<div class="wide_layout bg_light">
			
			<!--page title-->
			<section class="page_title translucent_bg_red image_fixed image_bg_13 t_align_c relative wrapper">
				<div class="container">
					<h1 class="color_light fw_light m_bottom_5">Careers</h1>
					<!--breadcrumbs-->
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_grey_light_3 d_inline_m m_right_10">Home</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_grey_light_3 d_inline_m m_right_10">Pages</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li><a class="color_grey_light_3 d_inline_m">Careers</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<section class="section_offset">
				<div class="container clearfix">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
							<h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">Why Join Our Team</h3>
							<p class="m_bottom_35 heading_2 t_align_c">Proin dictum elementum velit. </p>		
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_35 m_xs_bottom_30">
									<figure class="item_services">
										<h6 class="m_bottom_5 relative color_dark color_pink_hover tr_all">
											Happy Joker
											<span class="d_block icon_wrap_size_3 circle color_pink wrapper animation_fill">
												<i class="icon-docs tr_all"></i>
											</span>
										</h6>
										<p class="fs_medium fw_light">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</p>
									</figure>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_35 m_xs_bottom_30">
									<figure class="item_services">
										<h6 class="m_bottom_5 relative color_dark color_pink_hover tr_all">
											Profitable Travel
											<span class="d_block icon_wrap_size_3 circle color_pink wrapper animation_fill">
												<i class="icon-flight tr_all"></i>
											</span>
										</h6>
										<p class="fs_medium fw_light">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</p>
									</figure>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
									<figure class="item_services">
										<h6 class="m_bottom_5 relative color_dark color_pink_hover tr_all">
											Sunny Hours
											<span class="d_block icon_wrap_size_3 circle color_pink wrapper animation_fill">
												<i class="icon-light-up tr_all"></i>
											</span>
										</h6>
										<p class="fs_medium fw_light">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</p>
									</figure>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
									<figure class="item_services">
										<h6 class="m_bottom_5 relative color_dark color_pink_hover tr_all">
											Vacant Desk
											<span class="d_block icon_wrap_size_3 circle color_pink wrapper animation_fill">
												<i class="icon-briefcase tr_all"></i>
											</span>
										</h6>
										<p class="fs_medium fw_light">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</p>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
							<h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">Our Current Vacancies</h3>
							<p class="m_bottom_35 heading_2 t_align_c">Donec in velit vel ipsum auctor pulvinar. </p>		
							<div class="accordion">
								<dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
									<dt class="accordion_link relative color_dark tr_all">Interactive Web Designer
										<span class="icon_wrap_size_1 circle d_block hide">
											<i class="icon-minus"></i>
										</span>
										<span class="icon_wrap_size_1 circle d_block show">
											<i class="icon-plus"></i>
										</span>
									</dt>
									<dd class="fw_light color_dark">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</dd>
								</dl>
								<dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
									<dt class="accordion_link relative color_dark tr_all">Project Manager
										<span class="icon_wrap_size_1 circle d_block hide">
											<i class="icon-minus"></i>
										</span>
										<span class="icon_wrap_size_1 circle d_block show">
											<i class="icon-plus"></i>
										</span>
									</dt>
									<dd class="fw_light color_dark">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</dd>
								</dl>
								<dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
									<dt class="accordion_link relative color_dark tr_all">Customer Support Manager
										<span class="icon_wrap_size_1 circle d_block hide">
											<i class="icon-minus"></i>
										</span>
										<span class="icon_wrap_size_1 circle d_block show">
											<i class="icon-plus"></i>
										</span>
									</dt>
									<dd class="fw_light color_dark">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</dd>
								</dl>
								<dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
									<dt class="accordion_link relative color_dark tr_all">Technical Animator
										<span class="icon_wrap_size_1 circle d_block hide">
											<i class="icon-minus"></i>
										</span>
										<span class="icon_wrap_size_1 circle d_block show">
											<i class="icon-plus"></i>
										</span>
									</dt>
									<dd class="fw_light color_dark">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et.</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</section>
		
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>

	
	</body>
{% endblock content %}