{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
		
		<!--layout-->
		<div class="wide_layout bg_light">
			
			<!--page title-->
			<section class="page_title translucent_bg_color_dark image_fixed image_bg_12 t_align_c relative wrapper">
				<div class="container">
					<h1 class="color_light fw_light m_bottom_5">The Process</h1>
					<!--breadcrumbs-->
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_grey_light_3 d_inline_m m_right_10">Home</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_grey_light_3 d_inline_m m_right_10">Pages</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li><a class="color_grey_light_3 d_inline_m">Process</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<div class="section_offset">
				<div class="container clearfix">
					<h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">The Process</h3>
					<p class="m_bottom_35 heading_2 t_align_c">Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. </p>
					<!--steps tabs-->
					<section>
						<!--steps nav-->
						<ul class="hr_list counter steps_nav m_bottom_23 m_xs_bottom_10 t_xs_align_c">
							<li class="active m_right_60 m_md_right_20 relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-coffee"></i>
									</div>
								</div>
							</li>
							<li class="m_right_60 m_md_right_20 relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-calendar-1"></i>
									</div>
								</div>
							</li>
							<li class="m_right_60 m_md_right_20 relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-magic"></i>
									</div>
								</div>
							</li>
							<li class="m_right_60 m_md_right_20 relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-wrench"></i>
									</div>
								</div>
							</li>
							<li class="m_right_60 m_md_right_20 relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-rocket"></i>
									</div>
								</div>
							</li>
							<li class="relative f_xs_none d_xs_inline_m m_xs_left_5 m_xs_right_5 m_xs_bottom_10">
								<!--num & icon-->
								<div class="container3d d_inline_m">
									<div class="icon_wrap_size_7 type_2 step_num counter_inc circle color_scheme tr_all"></div>
									<div class="icon_wrap_size_7 type_2 circle color_scheme animation_fill relative tr_all">
										<i class="icon-signal-1"></i>
									</div>
								</div>
							</li>
						</ul>
						<div class="steps_info">
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Meet</h4>
								<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.</p>
							</div>
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Plan</h4>
								<p>Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est.</p>
							</div>
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Design</h4>
								<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>
							</div>
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Build</h4>
								<p>Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. </p>
							</div>
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Launch</h4>
								<p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
							</div>
							<!--step info-->
							<div>
								<h4 class="color_dark m_bottom_10">Grow</h4>
								<p>Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			<main class="section_offset bg_light_2">
				<div class="container counter">
					<div class="row step">
						<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30 m_bottom_40 m_sm_right_15 m_sm_bottom_5">
							<!--step image-->
							<div class="step_img_container counter_inc">
								<div class="d_table">
									<!--counter-->
									<div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
									<!--image-->
									<div class="d_table_cell"><img src="images/process_img_1.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 m_xs_bottom_30 m_bottom_40 step_description">
							<!--step description-->
							<h3 class="fw_light color_dark m_bottom_15 tr_all">Define Goals &amp; Collect Information</h3>
							<p>Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae.</p>
						</div>
					</div>
					<div class="row step">
						<div class="col-lg-6 col-md-6 m_xs_bottom_30 m_bottom_40 step_description">
							<!--step description-->
							<h3 class="fw_light color_dark m_bottom_15 tr_all">Brainstorm &amp; Analyze Ideas</h3>
							<p>Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 f_sm_right m_xs_bottom_30 m_sm_bottom_5 m_sm_left_15 m_bottom_40">
							<!--step image-->
							<div class="step_img_container right counter_inc">
								<div class="d_table">
									<!--image-->
									<div class="d_table_cell"><img src="images/process_img_2.jpg" alt=""></div>
									<!--counter-->
									<div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row step">
						<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30 m_bottom_40 m_sm_bottom_5 m_sm_right_15">
							<!--step image-->
							<div class="step_img_container counter_inc">
								<div class="d_table">
									<!--counter-->
									<div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
									<!--image-->
									<div class="d_table_cell"><img src="images/process_img_3.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 m_xs_bottom_30 m_bottom_40 step_description">
							<!--step description-->
							<h3 class="fw_light color_dark m_bottom_15 tr_all">Creating &amp; Development Projects</h3>
							<p>Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae.</p>
						</div>
					</div>
					<div class="row step">
						<div class="col-lg-6 col-md-6 m_xs_bottom_30 step_description">
							<!--step description-->
							<h3 class="fw_light color_dark m_bottom_15 tr_all">Launch &amp; Maintenance</h3>
							<p>Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 f_sm_right m_sm_left_15 m_sm_bottom_5">
							<!--step image-->
							<div class="step_img_container right counter_inc">
								<div class="d_table">
									<!--image-->
									<div class="d_table_cell"><img src="images/process_img_4.jpg" alt=""></div>
									<!--counter-->
									<div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>

	
	</body>
{% endblock content %}