{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
		
		<!--layout-->
		<div class="wide_layout bg_light">
			
			<!--page title-->
			<section class="page_title_2 bg_light_2 t_align_c relative wrapper">
				<div class="container">
					<h1 class="color_dark fw_light m_bottom_5">Compare Products</h1>
					<!--breadcrumbs-->
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_default d_inline_m m_right_10">Home</a><i class="icon-angle-right d_inline_m color_default fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_default d_inline_m m_right_10">Shop</a><i class="icon-angle-right d_inline_m color_default fs_small"></i></li>
						<li><a class="color_default d_inline_m">Compare Products</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<div class="section_offset counter">
				<div class="container">
					<div class="r_corners wrapper border_grey wrap_sm m_bottom_70 m_xs_bottom_30">
						<table class="table_type_5 responsive_table rt_type_2 w_full t_align_l">
							<tbody>
								<tr>
									<td class="bg_light_2 color_dark d_xs_none">
										Product Name &amp; Image
									</td>
									<td data-title="Product Name &amp; Image">
										<a href="#" class="r_corners d_inline_b wrapper m_bottom_12">
											<img src="images/shop_img_12.jpg" alt="">
										</a>
										<h6 class="m_bottom_5"><a href="#" class="color_dark tr_all">Endrerit sit amet, tincidunt ac</a></h6>
										<a href="#" class="fs_medium color_grey d_inline_b tr_all"><i>Tops</i></a><br>
									</td>
									<td data-title="Product Name &amp; Image">
										<a href="#" class="r_corners d_inline_b wrapper m_bottom_12">
											<img src="images/shop_img_17.jpg" alt="">
										</a>
										<h6 class="m_bottom_5"><a href="#" class="color_dark tr_all">Neque porro quisquam</a></h6>
										<a href="#" class="fs_medium color_grey d_inline_b tr_all"><i>Dresses</i></a><br>
									</td>
									<td data-title="Product Name &amp; Image">
										<a href="#" class="r_corners d_inline_b wrapper m_bottom_12">
											<img src="images/shop_img_15.jpg" alt="">
										</a>
										<h6 class="m_bottom_5"><a href="#" class="color_dark tr_all">Fusce euismod consequat</a></h6>
										<a href="#" class="fs_medium color_grey d_inline_b tr_all"><i>Jeans</i></a><br>
									</td>
								</tr>
								<tr>
									<td class="bg_light_2 color_dark d_xs_none">
										Rating
									</td>
									<td data-title="Rating" class="v_align_m">
										<div class="clearfix">
										<ul class="rating_list f_left hr_list tr_all m_right_8">
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
										</ul>
										<a class="reviews fs_medium f_left color_dark tr_all lh_ex_small" href="#">2 Review(s)</a>
										</div>
									</td>
									<td data-title="Rating">
										-
									</td>
									<td data-title="Rating" class="v_align_m">
										<div class="clearfix">
										<ul class="rating_list f_left hr_list tr_all m_right_8">
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
											<li class="relative active lh_ex_small">
												<i class="icon-star-empty-1 color_grey_light_2 tr_all"></i>
												<i class="icon-star-1 color_yellow tr_all"></i>
											</li>
										</ul>
										<a class="reviews fs_medium f_left color_dark tr_all lh_ex_small" href="#">7 Review(s)</a>
										</div>
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Price
									</td>
									<td data-title="Price" class="fw_ex_bold color_dark">
										$75.00
									</td>
									<td data-title="Price" class="fw_ex_bold color_dark">
										$199.00
									</td>
									<td data-title="Price" class="fw_ex_bold color_dark">
										<s class="fw_normal color_grey">$347</s> $317.00
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Description
									</td>
									<td data-title="Description" class="fs_medium color_grey">
										Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. 
									</td>
									<td data-title="Description" class="fs_medium color_grey">
										Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.  Donec sagittis euismod purus.
									</td>
									<td data-title="Description" class="fs_medium color_grey">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Manufacturer
									</td>
									<td data-title="Manufacturer" class="fw_light w_break">
										<a href="#" class="color_dark">Manufacturer-2</a>
									</td>
									<td data-title="Manufacturer" class="color_dark fw_light w_break">
										<a href="#" class="color_dark">Manufacturer-2</a>
									</td>
									<td data-title="Manufacturer" class="color_dark fw_light w_break">
										<a href="#" class="color_dark">Manufacturer-2</a>
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Availability
									</td>
									<td data-title="Availability" class="color_dark fw_light">
										<span class="color_light_green">in stock</span> 20 item(s)
									</td>
									<td data-title="Availability" class="color_dark fw_light">
										<span class="color_light_green">in stock</span> 20 item(s)
									</td>
									<td data-title="Availability" class="color_dark fw_light">
										<span class="color_light_green">in stock</span> 20 item(s)
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Product Code
									</td>
									<td data-title="Product Code" class="color_dark fw_light">
										PS08
									</td>
									<td data-title="Product Code" class="color_dark fw_light">
										PS09
									</td>
									<td data-title="Product Code" class="color_dark fw_light">
										PS010
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Weight
									</td>
									<td data-title="Weight" class="color_dark fw_light">
										0.2 kg
									</td>
									<td data-title="Weight" class="color_dark fw_light">
										0.54 kg
									</td>
									<td data-title="Weight" class="color_dark fw_light">
										1.3 kg
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Dimensions (L x W x H)
									</td>
									<td data-title="Dimensions (L x W x H)" class="color_dark fw_light">
										50 x 90 x 30 cm
									</td>
									<td data-title="Dimensions (L x W x H)" class="color_dark fw_light">
										50 x 90 x 30 cm
									</td>
									<td data-title="Dimensions (L x W x H)" class="color_dark fw_light">
										50 x 90 x 30 cm
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Size
									</td>
									<td data-title="Size" class="color_dark fw_light">
										S
									</td>
									<td data-title="Size" class="color_dark fw_light">
										L
									</td>
									<td data-title="Size" class="color_dark fw_light">
										M
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 v_align_m d_xs_none">
										Color
									</td>
									<td data-title="Color" class="color_dark fw_light">
										<ul class="hr_list">
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_light circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_red circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_dark_green circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_dark_blue circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_dark circle"></button>
											</li>
										</ul>
									</td>
									<td data-title="Color" class="color_dark fw_light">
										<ul class="hr_list">
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_light circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_red circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_dark_green circle"></button>
											</li>
										</ul>
									</td> 
									<td data-title="Color" class="color_dark fw_light">
										<ul class="hr_list">
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_red circle"></button>
											</li>
											<li class="m_right_10 m_sm_bottom_5">
												<button class="color_button tr_delay  bg_color_dark_blue circle"></button>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td class="color_dark bg_light_2 d_xs_none">
										Action
									</td>
									<td data-title="Action" class="color_dark">
										<div class="clearfix m_top_10">
											<div class="wrapper f_left m_right_20 fs_medium r_corners quantity type_2 clearfix m_bottom_10">
												<button class="f_left bg_light_3" data-count="minus">
													<i class="icon-minus "></i>
												</button>
												<input type="text" readonly value="1" class="f_left color_grey bg_light">
												<button class="f_left bg_light_3" data-count="plus">
													<i class="icon-plus"></i>
												</button>
											</div>
											<button class="color_grey_light_2 color_dark_hover tr_all f_left m_top_5">
												<i class="icon-cancel-circled-1 fs_large"></i>
											</button>
										</div>
										<div class="clearfix m_bottom_10">
											<a href="#" class="m_mxs_bottom_10 button_type_6 f_left d_block color_pink transparent r_corners vc_child tr_all add_to_cart_button"><span class="d_inline_m clerarfix"><i class="icon-basket f_left m_right_10 fs_large"></i><span class="fs_medium">Add to Cart</span></span></a>
											<a href="#" class="m_mxs_left_0 button_type_6 relative tooltip_container f_left d_block color_dark r_corners vc_child tr_all color_purple_hover t_align_c m_left_5"><i class="icon-heart d_inline_m fs_large"></i><span class="d_block r_corners color_default tooltip fs_small fw_normal tr_all">Add to Wishlist</span></a>
										</div>
									</td>
									<td data-title="Action" class="color_dark">
										<div class="clearfix m_top_10">
											<div class="wrapper f_left m_right_20 fs_medium r_corners quantity type_2 clearfix m_bottom_10">
												<button class="f_left bg_light_3" data-count="minus">
													<i class="icon-minus "></i>
												</button>
												<input type="text" readonly value="1" class="f_left color_grey bg_light">
												<button class="f_left bg_light_3" data-count="plus">
													<i class="icon-plus"></i>
												</button>
											</div>
											<button class="color_grey_light_2 color_dark_hover tr_all f_left m_top_5">
												<i class="icon-cancel-circled-1 fs_large"></i>
											</button>
										</div>
										<div class="clearfix m_bottom_10">
											<a href="#" class="m_mxs_bottom_10 button_type_6 f_left d_block color_pink transparent r_corners vc_child tr_all add_to_cart_button"><span class="d_inline_m clerarfix"><i class="icon-basket f_left m_right_10 fs_large"></i><span class="fs_medium">Add to Cart</span></span></a>
											<a href="#" class="m_mxs_left_0 button_type_6 relative tooltip_container f_left d_block color_dark r_corners vc_child tr_all color_purple_hover t_align_c m_left_5"><i class="icon-heart d_inline_m fs_large"></i><span class="d_block r_corners color_default tooltip fs_small fw_normal tr_all">Add to Wishlist</span></a>
										</div>
									</td>
									<td data-title="Action" class="color_dark">
										<div class="clearfix m_top_10">
											<div class="wrapper f_left m_right_20 fs_medium r_corners quantity type_2 clearfix m_bottom_10">
												<button class="f_left bg_light_3" data-count="minus">
													<i class="icon-minus "></i>
												</button>
												<input type="text" readonly value="1" class="f_left color_grey bg_light">
												<button class="f_left bg_light_3" data-count="plus">
													<i class="icon-plus"></i>
												</button>
											</div>
											<button class="color_grey_light_2 color_dark_hover tr_all f_left m_top_5">
												<i class="icon-cancel-circled-1 fs_large"></i>
											</button>
										</div>
										<div class="clearfix m_bottom_10">
											<a href="#" class="m_mxs_bottom_10 button_type_6 f_left d_block color_pink transparent r_corners vc_child tr_all add_to_cart_button"><span class="d_inline_m clerarfix"><i class="icon-basket f_left m_right_10 fs_large"></i><span class="fs_medium">Add to Cart</span></span></a>
											<a href="#" class="m_mxs_left_0 button_type_6 relative tooltip_container f_left d_block color_dark r_corners vc_child tr_all color_purple_hover t_align_c m_left_5"><i class="icon-heart d_inline_m fs_large"></i><span class="d_block r_corners color_default tooltip fs_small fw_normal tr_all">Add to Wishlist</span></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--banners-->
					<section class="row t_xs_align_c">
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
							<a href="#" class="d_block d_xs_inline_b d_mxs_block"><img src="images/banner_1.jpg" alt=""></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
							<a href="#" class="d_block d_xs_inline_b d_mxs_block"><img src="images/banner_2.jpg" alt=""></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_0">
							<a href="#" class="d_block d_xs_inline_b d_mxs_block"><img src="images/banner_3.jpg" alt=""></a>
						</div>
					</section>
				</div>
			</div>
		
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>
		
		
	</body>
{% endblock content %}