{% extends "base.html" %}
{% load static %}
{% block content %}
	<body class="sticky_menu">
		 
		<!--side menu-->
		<button id="open_side_menu" class="icon_wrap_size_2 circle color_black">
			<i class="icon-menu"></i>
		</button>
		
		<!--layout-->
		<div class="wide_layout bg_light">
		
			<!--page title-->
			<section class="page_title translucent_bg_color_scheme t_align_c">
				<div class="container">
					<h1 class="color_light fw_light m_bottom_5">Columns</h1>
					<!--breadcrumbs-->
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_grey_light_3 d_inline_m m_right_10">Home</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_grey_light_3 d_inline_m m_right_10">Shortcodes</a><i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i></li>
						<li class="f_xs_none"><a class="color_grey_light_3 d_inline_m">Columns</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<section class="section_offset">
				<div class="container">
					<!--two columns-->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Half</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Half</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
						</div>
					</div>
					<!--three columns-->
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Third</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Third</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Third</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
						</div>
					</div>
					<!--one third & two third-->
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Third</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Two Third</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.  Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
						</div>
					</div>
					<!--four columns-->
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
					</div>
					<!--two fourth & one fourth-->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Two Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
					</div>
					<!--three fourth & one fourth-->
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-9 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Three Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Fourth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum.</p>
						</div>
					</div>
					<!--six columns-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
					</div>
					<!--one sixth & five sixth-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Five Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
						</div>
					</div>
					<!--one sixth & four sixth-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Four Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
						</div>
					</div>
					<!--one sixth & three sixth-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Three Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
						</div>
					</div>
					<!--one sixth & two sixth-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Two Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>
						</div>
					</div>
					<!--one sixth & two sixth-->
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Two Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light m_bottom_45 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Two Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>
						</div>
					</div>
					<!--one sixth & two sixth & three sixth-->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 fw_light m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">Three Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 fw_light m_xs_bottom_30">
							<h5 class="color_dark m_bottom_20">One Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 fw_light">
							<h5 class="color_dark m_bottom_20">Two Sixth</h5>
							<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<!--back to top button-->
		<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
			<i class="icon-angle-up fs_large"></i>
		</button>
		
		
	</body>
{% endblock content %}